<!DOCTYPE html>
<html>
  <head>
    <title>Reorganizer</title>
    <link rel="icon" href="/static/resources/logo.svg" type="image/svg" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="header blue-grey darken-2">
      <img height="30px" src="/static/resources/logo.svg" />
      <h4>Reorganizer</h4>
    </div>
    <div class="container">
      <div class="row">
        <div class="col s12 l6">
          <div id="input-container">
            <div class="row">
              <div class="col s6">
                <div id="input-files" class="col s12"></div>
              </div>
              <div id="input-preview-container" class="col s6">
                <img id="input-preview" class="hidden" />
                <video id="input-preview-video" class="hidden" controls autoplay>
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
          </div>

          <div id="output-container">
            <form class="output-path-form">
              <div class="input-field">
                <input id="path" type="text" name="path" />
                <label id="input-field-label" for="path">Output path</label>
                <div id="output-suggestions"></div>
              </div>
            </form>
          </div>
          <button
            id="submit-btn"
            class="btn waves-effect waves-light blue-grey darken-1"
            type="submit"
            name="action"
          >
            Organize!
            <i class="material-icons right">send</i>
          </button>
        </div>

        <div class="col s12 l6">
          <div class="logs-container">
            <div id="logs" class="logs"></div>
            <div class="logs-stats">
              <span class="chip grey lighten-2">
                <span class="chip grey lighten-2">
                  ✅ Processed: <span id="processed-count">0</span> /
                  <span id="total-files">0</span><br />
                </span>
                <span class="chip grey lighten-2">
                  🖼️ Pictures: <span id="pictures-count">0</span><br />
                </span>
                <span class="chip grey lighten-2">
                  🎞️ Videos: <span id="videos-count">0</span>
                </span>
                <span class="chip grey lighten-2">
                  📄 Unknown: <span id="unknown-count">0</span>
                </span>
                <span class="chip red lighten-4"
                  >❌ Errors: <span id="errors-count">0</span>
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/static/script.js"></script>
  </body>
</html>
