.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.header img {
  margin-right: 10px;
  margin-top: -6px;
}
.header > h4 {
  margin-top: 5px;
}
.container {
  max-width: 95% !important;
  width: 95% !important;
  margin-top: 20px;
}
#error-message {
  margin: 8px 0px 16px 0px;
  font-size: 12px;
}
.input-field input:focus {
  border-bottom: 1px solid #607d8b!important;
  box-shadow: 0 1px 0 0 #607d8b!important;
}
.input-field input:focus + label {
  color: #607d8b!important;
}
#path-input-suggestions {
  white-space: pre-wrap;
  height: 40dvh!important;
  border:  2px solid;
  border-radius: 5px;
  border-color: #607d8b!important;
  padding: 0px!important;
  overflow-y: scroll;
}
.tree {
  margin: 0px!important;
}
#path-input-suggestions > ul > li {
  cursor: pointer;
  padding: 3px;
  border-radius: 5px;
  transition: background-color 0.15s ease-in;
}
#path-input-suggestions > ul > li:hover {
  background-color: #e0e0e0;
}
.folder::before {
  content: "📁 ";
}
.row {
  margin-bottom: 0px!important;
}
.logs {
  white-space: pre-wrap;
  border:  2px solid;
  border-radius: 5px;
  border-color: #607d8b!important;
  height: calc(100dvh - 170px) !important;
  overflow-y: scroll;
  margin-top: 10px;
  padding: 10px;
}
.logs-title {
  margin-top: 0px;
  align-content: center;
}
.logs-header {
  display: flex;
  align-items: center;
}
.logs-header h5 {
  margin-right: 20px;
}
.errors {
  background-color: #ffa5a5;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #607d8b;
  border-radius: 3px;
  border: transparent;
}