.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-wrap: wrap;
}
.header img {
  margin-right: 10px;
  margin-top: -6px;
}
.header > h4 {
  margin-top: 5px;
}

.container {
  max-width: 95% !important;
  width: 95% !important;
  margin-top: 20px;
}

#output-container,
#input-container {
  height: 39dvh;
  display: flex;
  flex-direction: column;
  border: 2px solid #607d8b;
  border-radius: 5px;
  padding: 0px;
}

#input-files-container {
  padding: 10px;
}

#input-preview-container {
  padding: 10px;
}

#input-preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#input-preview,
#input-preview-video {
  max-width: 250px !important;
  max-height: 330px !important;
}

.image-file::before {
  content: "🖼️ ";
}

.video-file::before {
  content: "🎞️ ";
}

.unknown-file::before {
  content: "📄 ";
}

.hidden {
  display: none !important;
}

#output-container {
  margin-top: 31px;
}

.output-path-form,
#input-files {
  flex-shrink: 0; /* Keeps the form static at the top */
  padding: 5px 10px 5px 10px;
}

#output-suggestions,
#input-files {
  flex-grow: 1; /* Take the remaining space */
  overflow-y: auto; /* Scroll only the list */
  max-height: calc(39dvh - 100px); /* Adjust depending on form's height */
}

#input-files {
  max-height: calc(39dvh - 25px);
}

#output-suggestions {
  max-height: calc(39dvh - 90px);
}

#output-suggestions > ul,
#input-files > ul {
  margin: 0px !important;
}

.input-field input:focus {
  border-bottom: 1px solid #607d8b !important;
  box-shadow: 0 1px 0 0 #607d8b !important;
}
.input-field input:focus + label {
  color: #607d8b !important;
}
.input-field input.error {
  border-bottom: 1px solid #ff1744 !important;
  box-shadow: 0 1px 0 0 #ff1744 !important;
}
.input-field input.error + label {
  color: #ff1744 !important;
}

#output-suggestions > ul > li,
#input-files > ul > li {
  cursor: pointer;
  padding: 3px;
  border-radius: 5px;
  transition: background-color 0.15s ease-in;
}
#output-suggestions > ul > li:hover,
#input-files > ul > li:hover,
.input-active {
  background-color: #e0e0e0;
}
.folder::before {
  content: "📁 ";
}
#submit-btn {
  margin-top: 15px;
  margin-bottom: 20px;
}

.logs {
  white-space: pre-wrap;
  border: 2px solid;
  border-radius: 5px;
  border-color: #607d8b !important;
  height: calc(100dvh - 170px) !important;
  overflow-y: scroll;
  padding: 10px;
}
.logs-stats {
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
}
.logs-stats h5 {
  margin-right: 20px;
}
.errors {
  background-color: #ffa5a5;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #607d8b;
  border-radius: 3px;
  border: transparent;
}
